<h1><%= t('crud.index', resource: Task.model_name.human) %></h1>
<%= link_to t('buttons.new'), new_task_path %>

<table>
  <thead>
    <tr>
      <td>
        <%= sort_by_end_at(t('activerecord.attributes.task.end_at')) %>
      </td>
      <%= content_tag :td, t('activerecord.attributes.task.title') %>
      <%= content_tag :td, t('activerecord.attributes.task.description') %>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td ><%= task.end_at %></td>
      <td ><%= task.title %></td>
      <td ><%= task.description %></td>
      <td >
        <%= link_to t('buttons.edit'), edit_task_path(task) %> 
        <%= link_to t('buttons.destroy'),task_path(task), method: "delete", data: { confirm: t('message.confirm') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>